* {
	box-sizing: border-box;
	margin: 0 auto;
	background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
	
}
/*-----------Begin header styles --------------*/
.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-color: black;
	color: white;
}
ul{
	background-color: transparent ;
	padding-top: 2em;
}
li {
	list-style: none;
	margin-bottom: 1em;
}
a {
	color: pink;
	text-decoration: none;
	 transition-property: color;
	transition-duration: 2s;
}
a:hover {
	transform: 2s;
	color: aqua;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid aqua;
	cursor: pointer;
}
h1{
	text-align: center;
	color:white;
	font-family: 'Raleway', sans-serif;
}

section h3 {
	color:white;
	margin-left: 2em;
	text-decoration: underline;
}
section p {
	margin-left: 4em;
	padding: 15px;
}
.circle {
	background-image: url('../images/jason6-sm.jpg');
	height: 200px;
	width: 200px;
	border-radius: 50%;
	color: white;
	/*------ figure out how to change this image on hover and on scroll --------------*/
	/*------This is a good idea do not give up on it ---------*/
	border: 2px solid aqua;
	background: ;
	transition: transform;
	transition-duration: .5s;
}
 

.circle:hover {
	transform: rotate(15);
	border: 2px solid pink;
	border-radius: 50%;
	background-image: url('../images/jason1-sm.jpg');
	transform: scale(1.1);
	cursor: pointer;
}
.sm-logo {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 1px solid red;
	transition: transform;
	transition-duration: 3s;
}
.sm-logo:hover {
	transform: scale(2);
	cursor: pointer;

	
}

/*-----------------------End of header styles ------*/
.statement{
	background-color: black;
	padding: 3em;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	margin-bottom: 200px;
}
h2 {
	padding-bottom: 1em;
}
button {
	
	color: pink;
	margin-top: 1.5em;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 5px 3px 2px pink;
	border: 2px solid pink;
	margin-bottom: 200px;
	transition-property: color;
	transition-duration: 2s;
}
button:hover {
	cursor: pointer;
	font-weight: 700;
	border-radius: 10px;
	color: aqua;
	border: 3px solid aqua;
	box-shadow: 5px 3px 2px aqua;
}
/*------------------end of personal statement ------*/

#about {
	text-align: left;
	background-color: black;
	height: 600px;
	font-family: 'Raleway', sans-serif;
}
#about h3 {
	text-align: center;
}
#projects {
	margin-top: 2.5em;
	margin-bottom: 4em;
}
#projects h2 {
	text-align: center;
	margin-bottom: 50px;
	color: aqua;
	transition: transform;
	transition-duration: 1s;
}
#projects h2:hover {
	text-decoration: underline;
	color: pink;
	font-family: 'Raleway';
	font-size: 2em;
	transform: rotate(360deg);
}
.project-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
		grid-gap: 25px;
}
.project-wrapper img {
	height: 200px;
	width: 200px;
	border: 10px ridge silver;
	margin: 0 auto;
}


/*---------------Styles for project-overlay -------------------*/



/*---------------End Overlay styles ----------------------------*/
main {
	

	background-color: transparent;
}
section {
	
	background-color: red;
}
aside{
	
	background-color: transparent;
}

/*----------------------Form styles only -------------------*/
 form {
	display: grid;
	margin: 0 20px;
	padding: 10px;
	background: ;
	border-radius: 2%;
 }
 input {
	background: white;
	height: 25px;
	padding: 15px;
	
	border-radius: 2%;
 }
 
 #form {
	color: black;
 }
label {
	color: black;
	padding: 1em;
}



footer {
	height: 300px;
	background-color: white;
}
footer ul li img {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: 25px;
	width: 25px;
	transition: transform;
	transition-duration: .5s;
}

footer ul li img:hover {
	transform: scale(1.3);
}














/*---------------Styles only after small screen sizes --------------*/

@media screen and (min-device-width: 450px) {
	.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: black;
	color: white;
}
#about h3 {
	text-align: left;
}	

}
/*-------icons flex out to row from column ----------*/
footer ul {
	display: flex;
	flex-direction: row-reverse;
}
footer ul li img {
	display: flex;
}

@media screen and (min-device-width: 500px) {
	.project-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
		grid-gap: 25px;
	}
}






@media screen and (min-device-width: 768px) {
	.project-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		align-items: center;
		grid-gap: 25px;
}
}















/*--------------------Shimmer Effect ---------------------------*/
.shimmer {
  font-family: "Lato";
  font-weight: 300;
  font-size: 3em;
  margin: 0 auto;
  padding: 0 140px 0 0;
  display: inline;
  margin-bottom: 0;
}
.shimmer {
  text-align: center;
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}













