* {
	box-sizing: border-box;
	margin: 0 auto;
	background-color: transparent;
	color: white;
	font-family: 'Open Sans', sans-serif;
	
}
/*-----------Begin header styles --------------*/
.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-color: black;
	color: white;
}
ul{
	background-color: transparent ;
	padding-top: 2em;
}
li {
	list-style: none;
	margin-bottom: 1em;
}
a {
	color: pink;
	text-decoration: none;
	 transition-property: color;
	transition-duration: 2s;
}
a:hover {
	transform: 2s;
	color: aqua;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid aqua;
	cursor: pointer;
}
h1{
	color:white;
	font-family: 'Raleway', sans-serif;
}
section h3 {
	color:white;
	margin-left: 2em;
	text-decoration: underline;
}
section p {
	margin-left: 4em;
	padding: 15px;
}
.circle {
	background-image: url('../images/jason6-sm.jpg');
	height: 200px;
	width: 200px;
	border-radius: 50%;
	color: white;
	/*------ figure out how to change this image on hover and on scroll --------------*/
	/*------This is a good idea do not give up on it ---------*/
	border: 2px solid aqua;
	background: ;
	transition: transform;
	transition-duration: 3s;
}
 

.circle:hover {
	transform: rotate(15);
	border: 2px solid pink;
	border-radius: 50%;
	background-image: url('../images/jason1-sm.jpg');
	transform: scale(1.1);
}
.sm-logo {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 1px solid red;
	transition: transform;
	transition-duration: 3s;
}
.sm-logo:hover {
	transform: scale(2);

	
}

/*-----------------------End of header styles ------*/
.statement{
	background-color: black;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	margin-bottom: 200px;
}

button {
	color: pink;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 5px 3px 2px pink;
	border: 2px solid pink;
	margin-bottom: 200px;
	transition-property: color;
	transition-duration: 2s;
}
button:hover {
	cursor: pointer;
	font-weight: 700;
	border-radius: 10px;
	color: aqua;
	border: 3px solid aqua;
	box-shadow: 5px 3px 2px aqua;
}
/*------------------end of personal statement ------*/

#about {
	text-align: left;
	background-color: black;
	height: 600px;
	font-family: 'Raleway', sans-serif;
}
#projects {
	margin-top: 2.5em;
}
#projects h2 {
	text-align: center;
	margin-bottom: 50px;
}
.project-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
		grid-gap: 25px;
}
.project-wrapper img {
	height: 200px;
	width: 200px;
	border: 2px dotted silver;
	margin: 0 auto;
}

/*---------------Styles for project-overlay -------------------*/



/*---------------End Overlay styles ----------------------------*/
main {
	

	background-color: transparent;
}
section {
	
	background-color: transparent;
}
aside{
	
	background-color: transparent;
}

/*----------------------Form styles only -------------------*/
 form {
	display: grid;
	padding: 20px;
	background: skyblue;
	border-radius: 2%;
 }
 input {
	background: white;
	height: 50px;
	padding: 15px;
	
	border-radius: 2%;
 }
 
 #form {
	color: white;
 }




footer {
	height: 300px;
	background-color: white;
}
footer ul li img {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: 25px;
	width: 25px;
}














/*---------------Styles only after small screen sizes --------------*/

@media screen and (min-device-width: 320px) {
	.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: black;
	color: white;
}
	

}
/*-------icons flex out to row from column ----------*/
footer ul {
	border: 1px solid blue;
	display: flex;
	flex-direction: row-reverse;
}
footer ul li img {
	border: 1px solid blue;
	display: flex;
}
}


@media screen and (min-device-width: 500px) {
	.project-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
		grid-gap: 25px;
}
}






@media screen and (min-device-width: 768px) {
	.project-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		align-items: center;
		grid-gap: 25px;
}
}
